* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(225, 100%, 94%);
    background-image: url(/images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    /* background-size: 100%; */
}




























.attribution { 
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

